blinker
cachetools
click
customtkinter
darkdetect
ecdsa
exceptiongroup
Flask
Flask-Cors
gmpy2
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
Pygments
pytest
six
tomli
typing_extensions
Werkzeug
gunicorn>=21.0